.modelBoxPar1{
  background-color: aqua;
  padding-left: 30px;
  margin-left: 50px;
}
.modelBoxKvadratas{
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 5px dashed orange;
  /* border-top: 5px dashed orange;
  border-bottom: 5px dashed orange; */
  border-left-color: black;
  padding: 10px;
  margin: 30px;
}

/*
  margin: 0 - 0 viršus+dešinė+apačia+kairė
  margin: 0 auto - 0 viršus+apačia, auto dešinė+kairė 
  margin: 0 1px 2px - 0 viršus; 1px kairė+dešinė; 2px apačia
  margin: 0 1px 2px 3px - 0viršus; 1px dešinė; 2px apačia; 3px kairė
*/

.list li{
  color: rgb(39, 161, 161);
}
h1, h2{
  color: red;
  font-family: 'Courier New', Courier, monospace
}
h1{
  background-color: rgb(185, 222, 255);
}
h2{
  background-color: aquamarine;
}

.kvadratas{
  width: 100px;
  height: 100px;
  border: 3px solid black;
  background-color: aquamarine;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}

.flexBandymas{
  background-color: rgb(205, 255, 255);
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px 50px;
}

.order1{
  order: 1;
}
.order3{
  order: 3;
}

/* Didelė Flex užduotis */

.dideleFlexUzduotis{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dideleFlexUzduotis > div{
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.flexKvadratas{
  height: 100%;
  width: 100%;
  background-image: url(../images/nature5.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: blue;
}

.h_33{
  height: 33%;
}
.h_50{
  height: 50%;
}
.h_66{
  height: 66%;
}
.h_74{
  height: 74%;
}
.w_33{
  width: 33%;
}
.w_66{
  width: 66%;
}
.w_60{
  width: 60%;
}
.w_50{
  width: 50%;
}
.w_40{
  width: 40%;
}
.w_79{
  width: 79%;
}
.w_19{
  width: 19%;
}

.treciasFlexKvadratas, .trecios_1_melynas{
  display: flex;
  flex-direction: column;
  gap: 1px;
  position: relative;
}
.trecios_2_geltonas, .trecios_1_geltonas{
  display: flex;
  gap: 1px;
}
.posAbsolute{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/* 9 */
.geltonas9Up, .oranzinis9, .geltonas9Down, .melynas9DownLeft{
  display: flex;
  gap: 1px;
}
.melynas9UpLeft, .melynas9UpRight, .melynas9DownRight{
  display: flex;
  flex-direction: column;
  gap: 1px;
}