@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.centerText{
  font-family: "Ms Madi";
  font-size: 50px;
  text-align: center;
}

.listsNextToEachOther{
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
}

.gridPavyzdys{
  background-color: beige;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 20px 1fr 10px);
  grid-template-rows: repeat(10, 1fr);
}

.gridPavyzdys > div{
  font-size: 30px;
  background-color: rgb(170, 251, 224);
}

.pirmasGridElementas{
  /* grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 7; */
  /* grid-column: 2 / 5;
  grid-row: 3 / 7; */
  grid-area: 3 / 2 / 7 / 5;
}

/* didele Grid užduotis */
.dideleGridUzduotis{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dideleGridUzduotis > div{
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.gridKvadratas{
  background-image: url(../images/nature4.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: blue;
}

/* 9 */
.devintasGridKvadratas{
  display: grid;
  gap: 1px;
  grid-template: 1fr 2fr repeat(3,1fr) / repeat(5, 1fr);
}

.pirmas9{
  grid-area: 1 / 1 / 3 / 3;
}
.antras9{
  grid-area: 3 / 1 / 4 / 2;
}
.trecias9{
  grid-area: 3 / 2 / 4 / 3;
}
.septintas9{
  grid-area: 2 / 3 / 4 / 6;
}
.astuntas9{
  grid-area: 4 / 1 / 6 / 3;
}
.devintas9{
  grid-area: 4 / 3 / 6 / 5;
}

.permatomasFonas{
  position: absolute;
  bottom: -300px;
  left: 100px;
  height: 200px;
  width: 200px;
  background-color: #B4F3F8c5;
  background-color: rgba(166, 219, 223, 0.773);
  opacity: 1;
}